html {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: "Alata", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}


header {
  background-color: #7d2b08;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: space-around;
}
nav {
  text-align: center;
  margin-top: 1%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: #0d4f83;
}


.uefa,
.champions,
.europaleague-img,
.eurocopa-img {
  width: 15%;
}

.texto2 {
  text-align: center;
  display: block;
  margin: 5%;
  padding: 2%;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #bb4411;
}

h1 {
  text-align: center;
}
.goles {
  text-align: center;
  width: 300%;
  border-radius: 10px;
  padding: 5%;
  margin: 0 auto;
  aspect-ratio: 1 / 1; 
  flex-wrap: wrap;
  margin-right: auto;
}

.lineup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lineup-row {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-bottom: 20px;
}
.kobel:hover img {
  filter: brightness(50%);
}
.kobel img {
  
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.kobel:hover .player-info {
  display: block;
}
.kobel {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #000000;
  border-radius: 10px;
  width: 150px;
  height: 250px;
  text-align: center;
  cursor: pointer;text-align: center;
  width: 180px;
}
.player {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #000000;
  border-radius: 10px;
  width: 150px;
  height: 250px;
  text-align: center;
  cursor: pointer;text-align: center;
  width: 180px;
}

.player img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.player-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.player:hover img {
  filter: brightness(50%);
}

.player:hover .player-info {
  display: block;
}

.futer {
  width: 100%;
  background-color: #0d4f83;
  padding: 2% 0; 
}


.futer .logos {
  text-align: center;
}

.social-logo {
  width: 5%;
  margin: 0 1%;
}

.integrantes {
  text-align: center;
}

@media (max-width: 480px) {
  .uefa,
  .champions,
  .europaleague-img,
  .eurocopa-img {
    width: 65%;
  }

  .goles {
    width: 90%;
    aspect-ratio: 16 / 9; 
    text-align: center;

  }

  .video1 {
    width: 100%;
    

  }
   
  .equipo {
    width: 90%;
    margin: 0 auto;

  }

  .player img {
    width: 150%;

  }

  .player  {
    width: 60%;

  }

  .player-info {

    width:180%;
    height: 100%;
    text-align: center;
    
    p {
      width: 90%;
      margin: 2%;

    }
  
  }
  .kobel {
    width: 60%;

  }
  
  .texto2 {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .uefa,
  .champions,
  .europaleague-img,
  .eurocopa-img {
    width: 50%;
  }

  .goles {
    width: 90%;
    aspect-ratio: 16 / 9; 
    text-align: center;
    
  }
  .video1 {
    width: 100%;
    aspect-ratio: 16 / 9;

  }
  .equipo {
    width: 90%;
    margin: 0 auto;

  }

  .player img {
    width: 100%;

  }

  .player  {
    width: 50%;

  }

  .player-info {

    width:120%;
    height: 100%;
    p {
      margin: 7%;
    }


  }
  .texto2 {
    font-size: 1.7rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .uefa,
  .champions,
  .europaleague-img,
  .eurocopa-img {
    width: 25%;
  }

  .equipo {
    width: 90%;
    margin: 0 auto;

  }

  .player img {
    width: 100%;
    
  }

  .player  {
    width: 60%;

  }
  
  .player-info {
    
    width:120%;
    height: 100%;
    
    
  }
  
  .goles {
    width: 90%;
    aspect-ratio: 16 / 9; 
    
  }
  .video1 {
    width: 95%;
    height: 95%;
    
  }
  .texto2 {
    font-size: 1.7rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .uefa,
  .champions,
  .europaleague-img,
  .eurocopa-img {
    width: 20%;
  }

  .goles {
    width: 90%;
    aspect-ratio: 16 / 9; 
  }

  .video1 {
    width: 95%;
    height: 95%;
  }
  .texto2 {
    font-size: 2rem;
  }
  .kobel img{
    width: 100%;

  }

  
}

@media (min-width: 1201px) {
  .uefa,
  .champions,
  .europaleague-img,
  .eurocopa-img {
    width: 16.66%;
  }

  .goles {
    width: 80%;
    aspect-ratio: 16 / 9; 
  }

  .video1 {
    width: 80%;
    height: 80%;
  }


  .texto2 {
    font-size: 2.5rem;
  }
  
  
  
  .kobel img {
    width: 100%;
  }
}



